img {
    /*display: block;
    height: 400px;
    margin: 0 auto;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 30px;*/
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}


body {
    font-family: "fantasy:Papyrus";
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #20232A;
    margin: 0;
    background-color: #20232A;
    margin-bottom: 0%;
}
body{
    display: block;

    
}
h1{
    font-size: 1.0em;
}
#main{

        margin: 30px 8px;
        padding: 15px; 
        border-radius: 50px;
        background: #ACBEBE;
        margin-left: 30px;
        margin-right: 30px;
        

}
main{
    display: block;
}
figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
#img-div {
    background:#20232A;
    padding: 10px;
    
    height: auto;
    margin: 0;
    margin: auto;
   
}

.introduccion{
    color:#F4F4EF;
    margin-top: -10PX;
    background-color: #A01D23;

    font-family: "fantasy:Papyrus";
    font-size: 0.9em;
}
.definicion{
    color:#F4F4EF;
    background-color: #A01D23;
    font-size: 0.9em;
    font-family: "fantasy:Papyrus";


}

.estadisticas{
    color:#20232A;
    font-size: 1.0em;
    margin:50px 0;
}

label{
    text-align: left;
    font-size: 0.8em;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    list-style-type: disc;
    
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 16px 0;
    line-height: 1.6;
 
}

span{
    font-weight: bold;
}
section {
    display: block;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}