img {
    /*display: block;
    height: 400px;
    margin: 0 auto;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 30px;*/
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}


body {
    font-family: "fantasy:Papyrus";
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #20232A;
    margin: 0;
    background-color: #20232A;
    margin-bottom: 0%;
}
main{

        margin: 50px 20px;
        padding: 15px; 
        border-radius: 50px;
        background: #ACBEBE;
        

}
figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
#img-div {
    background:#20232A;
    padding: 10px;
    width:1000px;
    height: auto;
    margin: 0;
    margin: auto;
   
}

.introduccion{
    color:#F4F4EF;
    margin-top: -40PX;
    background-color: #A01D23;
    font-size: 1.17em;
    font-family: "fantasy:Papyrus"
}
.definicion{
    color:#F4F4EF;
    background-color: #A01D23;
       font-size: 1.17em;
    font-family: "fantasy:Papyrus";
    font-weight: bold;

}

.estadisticas{
    color:#20232A
}